/* * {
    box-sizing: border-box;
} */

body {
   background: beige;
   font-family: Arial;
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header {
    background: linear-gradient(to right, red , maroon);
    text-align: center;
    font-size: 200%;
    color: white;
    padding: 1rem;
}

main {
    display: flex;
    max-width: 1200px;
    /* margin: 2% auto; */
}  

#currentDay {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
} 

aside {
    text-align: left;
    padding: 1rem;
    width: 25%;
}

aside h1 {
    padding-bottom: .5rem;
    width: 100%;
    font-size: 170%;
}

/* aside .search {
    border-bottom: 1px solid black;
} */

section {
    padding: 1rem;
    display: inline-block;
    width: 80%;
}

aside input, aside button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
}

section .future {
    /* margin: 15rem 0 0 20rem;  */
    text-align: left;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.dayforecast {
    margin: 1rem;
}

.forecasts {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.current {
    border: 1px solid black;
    padding: 5px;
}

.days {
    padding-bottom: 15rem;
    background: linear-gradient(to right, blue , rgb(51, 51, 158));
    border-radius: 10px;
    /* display: inline-block; */
    width: 18%;
}

/*uv index indicators*/
.green {
    background: green;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.purple {
    background: purple;
}